
@{
    ViewBag.Title = "Lỗi đăng ký";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="alert alert-danger" style="text-align: center; font-size: 1.5pc;">

   Đăng ký <span style="color: red"> KHÔNG</span> thành công! Kiểm tra lại

</div>
<div style="margin-left: 40pc;"> <a class="btn btn-primary" href="/dang-ky-thanh-toan">Quay lại trang đăng ký</a></div>


