
@{
    ViewBag.Title = "Lỗi đăng nhập thanh toán";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="alert alert-danger" style="text-align: center; font-size: 1.5pc;">

    Số tài khoản chưa đăng ký hoặc không tồn tại! Vui lòng kiểm tra lại!

</div>
<div style="margin-left: 40pc;"> <a class="btn btn-primary" href="/thanh-toan?coupon_code=&proceed=Đặt+hàng">Quay lại trang đặt hàng</a></div>


