
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="alert alert-success" style="text-align: center; font-size: 1.5pc;">

    Thanh toán thành công.

</div>
<div style="margin-left: 40pc;"> <a class="btn btn-primary" href="/">Tiếp tục xem mặt hàng khác</a></div>

