
@{
    ViewBag.Title = "Đăng ký thành công";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

    <div class="alert alert-success" style="text-align: center; font-size: 1.5pc;">

        Bạn đã đăng ký thành công tài khoản thanh toán online

    </div>
    <div style="margin-left: 40pc;"> <a class="btn btn-primary" href="/thanh-toan?coupon_code=&proceed=Đặt+hàng">Quay lại trang đặt hàng</a></div>
